<Settings>

	<!--Options: Greedy, AStarSearch, Dijkstra -->
	<RoutingAlgo>Greedy</RoutingAlgo>
	
	<!--Options: RunOnce, Iterative-->
	<RoutingOption>Iterative</RoutingOption>
	
	<!--Options:NoTraffic, CurrentTraffic, Reservation -->
	<DelayOption>Reservation</DelayOption>
	
	<!--Name of the file-->
	<MapFile>map2.osm</MapFile>
</Settings>