<Settings>
	<!--Options: Greedy, AStarSearch, Dijkstra -->
	<PrimaryRoutingAlgo>Dijkstra</PrimaryRoutingAlgo>
	
	<!--Options: RunOnce, Iterative-->
	<PrimaryRoutingOption>Iterative</PrimaryRoutingOption>
	
	<!--Options: NoTraffic, CurrentTraffic, Reservation -->
	<PrimaryDelayOption>Reservation</PrimaryDelayOption>
	
	<!--Percentage of certain kind of vehicle in system, Options: 0-100 -->
	<PrimaryPercentage>100</PrimaryPercentage>
	
	<!--Options: Greedy, AStarSearch, Dijkstra -->
	<SecondaryRoutingAlgo>Dijkstra</SecondaryRoutingAlgo>
	
	<!--Options: RunOnce, Iterative-->
	<SecondaryRoutingOption>Iterative</SecondaryRoutingOption>
	
	<!--Options: NoTraffic, CurrentTraffic, Reservation -->
	<SecondaryDelayOption>NoTraffic</SecondaryDelayOption>
	
	<!--Percentage of certain kind of vehicle in system, Options: 0-100 -->
	<SecondaryPercentage>0</SecondaryPercentage>
	
	<!--Options: Greedy, AStarSearch, Dijkstra -->
	<TertiaryRoutingAlgo>Dijkstra</TertiaryRoutingAlgo>
	
	<!--Options: RunOnce, Iterative-->
	<TertiaryRoutingOption>Iterative</TertiaryRoutingOption>
	
	<!--Options: NoTraffic, CurrentTraffic, Reservation -->
	<TertiaryDelayOption>NoTraffic</TertiaryDelayOption>
	
	<!--Percentage of certain kind of vehicle in system, Options: 0-100 -->
	<TertiaryPercentage>0</TertiaryPercentage>
	
	<!--Name of the file-->
	<MapFile>map-500.osm</MapFile>
	
	<!--Detail logs or not, Options: True, False-->
	<DetailLog>True</DetailLog>
	
	<!--Vehicle logs or not, Options: True, False-->
	<VehicleLog>True</VehicleLog>
	
	<!--Number of vehicles per node per tick-->
	<VehicleGenerateRate>0.15</VehicleGenerateRate>
	
	<!--Random Seed, Options: Integer number or -, - represent truly random -->
	<RandomSeed>10</RandomSeed>
</Settings>